package-lock=false
# Node.js v17 起更新了内置的 OpenSSL 到 v3.0, 某些站点(e.g. nowPlayer)仍在使用较旧的SSL证书, 会出现 "tls12_check_peer_sigalg:wrong signature type" 错误
node-options="--tls-cipher-list=DEFAULT@SECLEVEL=0"  # 支持较旧的SSL证书
